@page
@model MagisterShop.Pages.AccountModel
@{
    ViewData["Title"] = "Profil";

}
<h2 style="text-align:center">Sign in</h2>

<div align="center">
    <form method="post">
        <label for="login">Login</label><br>
        <input type="text" id="login" name="login"/><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" /><br><br>
        <input type="submit" value="Sign In" />
    </form>
</div> <br>
<div align="center">
    <form method="get">
        <button type="submit" asp-page="./Register">Sign Up</button>
    </form>
</div>